src/main/webapp/wsdl/MarksService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateStudentById">
    <complexType>
     <sequence>
      <element name="studentId" type="xsd:string"/>
      <element name="passed_colloquium" type="xsd:string"/>
      <element name="passed_bachelor_thesis" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStudentByIdResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateStudentByIdResponse">

      <wsdl:part element="impl:updateStudentByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentByIdRequest">

      <wsdl:part element="impl:updateStudentById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MarksService">

      <wsdl:operation name="updateStudentById">

         <wsdl:input message="impl:updateStudentByIdRequest" name="updateStudentByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateStudentByIdResponse" name="updateStudentByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MarksServiceSoapBinding" type="impl:MarksService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateStudentById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateStudentByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateStudentByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MarksServiceService">

      <wsdl:port binding="impl:MarksServiceSoapBinding" name="MarksService">

         <wsdlsoap:address location="http://localhost:13222/gpmserver1/services/MarksService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
